/* Universal selectors */
@import url("https://fonts.googleapis.com/css?family=poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

/* this is the body styling whch contains basically the background image and other styling to make the background image to match the page we are building */
body {
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  width: 45%;
  margin: auto;
  height: 100%;
  color: white;
  

}

form {
    background-color: #17173ac6;
    padding: 50px;
}

/* the word form>div represents that for each div element in the form attribute, the style properties under it should apply to it  */
form>div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 15px;
}

/* this styling here is to add a padding(internal space ) and curved edge to the input and drop down menu inputs */
input, select {
    padding: 7px;
    border-radius: 5px;
}

/* this guy here basically targets the the 5th div and 7th div which is the radio and checkbox inputs */
div:nth-child(5), div:nth-child(7) {
    display: block;
}

button{
    background-color: #37AF65;
    padding: 10px 0;
    color: white;
    border: 0;
}